%h1 this is the page for forget password
.forgetPWpage
  =  form_tag(students_update_password_path, method: :post) do
    %table{:border => "0"}
      %tr
        %td
          = label :session, :oldPassword, 'Enter your old password'
        %td
          = password_field(:session, :oldPassword, class: 'input-field')
      %tr
        %td
          = label :session, :password, 'Enter your new password'
        %td
          = password_field(:session, :password, class: 'input-field')
      %tr
        %td
          = label :session, :password2, 'ReEnter your new password'
        %td
          = password_field(:session, :password2, class: 'input-field')
          
    = submit_tag 'Confirm', :id => "changePW_button_left", :data => { confirm: 'An email will be sent to you. Continue?'}
  = form_tag(students_show_path, method: :get) do
    = submit_tag  "Cancel", :id => "changePW_button_right"