%h1 Reset Your Password
.forgetPWpage
  =  form_tag('/students/sent_reset_password_mail', method: :post) do
    %table{:border => "0"}
      %tr
        %td
          = label :session, :uin, 'Enter your UIN'
        %td
          = text_field(:session, :uin, class: 'input-field', :pattern => "[0-9]{9}", :oninvalid => "this.setCustomValidity('Invalid UIN')", :oninput => "this.setCustomValidity('')")
          = "(You will receive email to reset your password)"  
      // %tr
      //   %td
      //     = label :session, :uin2, 'ReEnter your UIN'
      //   %td
      //     = text_field(:session, :uin2, class: 'input-field', :pattern => "[0-9]{9}", :oninvalid => "this.setCustomValidity('Invalid UIN')", :oninput => "this.setCustomValidity('')")
      // %tr
      //   %td
      //     = label :session, :password, 'Enter your new password'
      //   %td
      //     = password_field(:session, :password, class: 'input-field')
      // %tr
      //   %td
      //     = label :session, :password2, 'ReEnter your new password'
      //   %td
      //     = password_field(:session, :password2, class: 'input-field')
    %br
    %br
    = submit_tag 'Reset'
  = form_tag(students_show_path, method: :get) do
    = submit_tag  "Cancel"