%h1 Your Profile
.profilepage
  = form_tag('/students/update_profile', method: :post) do
    %table{:border => "0"}
      %tr
        %td
          = label :student_request, :name, 'Full Name'
        %td  
          = @students[0].name
           
      %tr
        %td
          = label :student_request, :uin, 'UIN'
        %td
          = text_field :student_request, 'uin', class: 'input-field', value: @students[0].uin, :pattern => "[0-9]{9}"
     
      %tr
        %td  
          = label :student_request, :major, 'Major'
        %td  
          = text_field :student_request, 'major', class: 'input-field', value: @students[0].major, :readonly => true
  
    
      %tr
        %td  
          = label :student_request, :minor, 'Minor'
        %td  
          = select :student_request, 'minor', @majorList, :required => true, selected: @students[0].minor
    
      %tr
        %td   
          = label :student_request, :classification, 'Classification'
        %td  
          = @students[0].classification
      %tr
        %td 
          = label :student_request, :email, 'Email'
        %td  
          = text_field :student_request, 'email', class: 'input-field', value: @students[0].email, :type => 'email'
      
      %tr
        %td 
          = label :student_request, :note, 'note'
        %td  
          = label :note, 'By clicking on Update, Your profile will be updated and you will be redirected to login page'


    = submit_tag 'Update', :id =>  "profile_button_left"

  = form_tag(students_show_path, method: :get) do
    = submit_tag  "Back", :id => "profile_button_right"