= form_tag(students_show_path, method: :get) do
  %table{:border => "0"}
    %tr
      %td
        = label :student_request, :full_name, 'Full Name'
      %td  
        = text_field :student_request, 'full_name', class: 'input-field', value: @students[0].name, :readonly => true
    %tr
      %td  
        = label :student_request, :major, 'Major'
      %td  
        = text_field :student_request, 'major', class: 'input-field', value: @students[0].major, :readonly => true
    %tr
      %td   
        = label :student_request, :classification, 'Classification'
      %td  
        = text_field :student_request, 'classification', class: 'input-field', value: @students[0].classification, :readonly => true
        // %tr
        //   %td    
        //     = label :student_request, :minor, 'Minor'
        //   %td  
        //     = text_field :student_request, 'minor', class: 'input-field', :onfocus => "formtooltip('minor_tip',1)", :onblur => "formtooltip('minor_tip',0)", :size => "6", :type => "text", :readonly => true
        //     %span#minor_tip.form-help Enter the 4-letter code for your minor, if any
    %tr
      %td 
        = label :student_request, :email, 'Email'
      %td  
        = text_field :student_request, 'email', class: 'input-field', value: @students[0].email,  :readonly => true
        // = text_field :student_request, 'email', class: 'input-field', value: @students[0].email, :type => 'email', :readonly => true
        // %tr
        //   %td   
        //     = label :student_request, :phone, 'Phone'
        //   %td  
        //     = text_field :student_request, 'phone', class: 'input-field', :readonly => true
        // %tr
        //   %td   
        //     = label :student_request, :expected_graduation, 'Expected Graduation*'
        //   %td 
        //     = select :student_request, 'expected_graduation', @YearSemester
  %br
  %br
  = submit_tag 'Confirm'
= form_tag(students_show_path, method: :get) do
  = submit_tag  "Cancel"