%h1 this is the page for reset password
.forgetPWpage
    %h2= "Howdy! #{session_get(:name)}(#{session_get(:uin)}), please reset your password"
    =  form_tag('/students/update_reset_password', method: :post) do
        %table{:border => "0"}
        %tr
            %td
            = label :session, :password, 'Enter your new password'
            %td
            = password_field(:session, :password, class: 'input-field', :pattern => "[a-zA-Z0-9_]{6,20}", :oninvalid => "this.setCustomValidity('At least 6 and at most 20 of any letter, number, underscore')", :oninput => "this.setCustomValidity('')", :required => true)
        %tr
            %td
            = label :session, :password2, 'ReEnter your new password'
            %td
            = password_field(:session, :password2, class: 'input-field', :required => true)
        %br
        %br
        = submit_tag 'Reset'
