- unless session[:name].nil?
  = render 'layouts/login'
%h1 Students Dashboard Page

%h2= "Howdy! #{session_get(:name)} #{session_get(:email)}"

= link_to '<button type="button" class="regularbutton">New Force Request</button>'.html_safe, new_student_request_path


// display the database with name & email
- if @users[0] != nil
  %table#student_requests.sortable
    %thead
      %tr
        %th Name
        %th Email
        %th Password
    %tbody
      - @users.each do |record|
        %tr
          %td= record.name 
          %td= record.email
          %td= record.password