%h1 
  Admin Dashboard Page
= form_tag student_requests_adminview_path, :method => :get do
  Filter Requests - State:
  - @all_states.each do |state|
    = state
    = check_box_tag "state_sel[#{state}]", 'true', @state_selected[state]
  = submit_tag 'Refresh'
  
= form_tag student_requests_adminview_path, :method => :get do
  Filter Requests - Priority:
  - @all_priorities.each do |priority|
    = priority
    = check_box_tag "priority_sel[#{priority}]", 'true', @priority_selected[priority]
  = submit_tag 'Refresh'
  
- @allcourses.each do |course|
  %h4
    %input{:onclick => "return toggleMe('student_requests_#{course}')", :type => "button", :value => "Course Name #{course}", :class => "course_id_button"}
  = link_to "Download as .xlsx", student_requests_getSpreadsheet_path(format: "csv", :course_id => course)
  %table{:id => "student_requests_#{course}", :class => "student_requests"}
    %thead 
      %tr
        %th UIN
        %th Full Name
        %th Major
        %th Class
        %th Minor
        %th Course ID
        %th Section ID
        %th State
        %th Priority
        %th Notes
        %th{ :class => "update_admin" } Action
        %th Email
      
     
    %tbody
      - @coursestudentlist[course].each do |record|
        %tr
          %td= record.uin 
          %td= record.full_name
          %td= record.major
          %td= record.classification
          %td= record.minor
          %td= record.course_id
          %td= record.section_id
          %td= record.state
          %td= record.priority
          %td= record.notes
          %td
            %center
            = form_tag('/student_requests/updaterequestbyadmin', method: "put") do
              = hidden_field_tag 'id', record.request_id
              %textarea{:name => "notes_for_student", :placeholder => "Notes for student", :class => "notes"}
              %textarea{:name => "notes_for_myself", :placeholder => "Notes for Myself", :class => "notes"}
              = select_tag("state", options_for_select(@allAdminStates))
              = select_tag("priority", options_for_select(@allPriorityStates))
              = submit_tag 'Update'
          %td= mail_to record.email, "email", subject: "Force Request System: Regarding course #{record.course_id}" 