%h2 Request Id Details
%table#student_requests.sortable
  %thead
  - @student_by_id.each do |record|
    %tr
      %th UIN
      %td= record.uin 
    %tr
      %th Full Name
      %td= record.full_name
    %tr  
      %th Major
      %td= record.major
    %tr  
      %th Class
      %td= record.classification
    %tr  
      %th Minor
      %td= record.minor
    %tr  
      %th Course ID
      %td= record.course_id
    %tr  
      %th Section ID
      %td= record.section_id
    %tr  
      %th Expected Graduation
      %td= record.expected_graduation
    %tr  
      %th Request Semester
      %td= record.request_semester
    %tr  
      %th State
      %td= record.state
    %tr  
      %th Notes by Student
      %td= record.notes
    %tr  
      %th Notes by Admin for Student
      %td= record.notes_to_student
    %tr  
      %th Notes by Admin for tracking
      %td= record.admin_notes
    %tr  
      %th{ :class => "update_admin" } Action
      %td
        %center
          = form_tag('/student_requests/updaterequestbyadmin', method: "put") do
            = hidden_field_tag 'id', record.request_id
            %textarea{:name => "notes_for_student", :placeholder => "Notes for student", :class => "notes"}
            %textarea{:name => "notes_for_myself", :placeholder => "Notes for Myself", :class => "notes"}
            = select_tag("state", options_for_select(@allAdminStates))
            = select_tag("priority", options_for_select(@allPriorityStates))
            = submit_tag 'Update'
        
        
        
        
        
        
        
        
        
        
        