%h1 Login Page
.Loginpage
    
  =  form_tag('/student_requests/login', method: :post) do
    %table{:border => "0"}
      %tr
        %td
          = label :session, :uin, 'Enter your uin'
        %td
          = text_field(:session, :uin, class: 'input-field')
          //the format of uin of admin and student may not same, so it is not easy to check at front end
          // = text_field(:session, :uin, class: 'input-field', :pattern => "[0-9]{9}", :oninvalid => "this.setCustomValidity('Invalid UIN')", :oninput => "this.setCustomValidity('')")
      %tr
        %td
          = label :session, :password, 'Enter your password'
        %td
          = password_field(:session, :password, class: 'input-field')
          // = "(forgot password)"
          // = link_to "(forgot password)", '/students/forget_password'
      %tr
        %td
          = label :session, :user, 'Login as'
        %td 
          = radio_button(:session, :user, "admin")
          admin
          = radio_button(:session, :user, "student", :checked => true)
          student
    %br
    %br
    = submit_tag 'Login'
    
  =  form_tag('/students/signup', method: :get) do
    = submit_tag 'Sign Up'


<span style="float:right;">
= mail_to 'cse.frs.feedback@gmail.com', "cse.frs.feedback@gmail.com", :title => 'cse.frs.feedback@gmail.com'
</span>
<span style="float:right;">If you encounter any problem with using this system, please email to &nbsp</span>