%h1 Login Page
.Loginpage
    
  =  form_tag('/student_requests/login', method: :post) do
    %table{:border => "0"}
      %tr
        %td
          = label :session, :uin, 'Enter your uin'
        %td
          = text_field(:session, :uin, class: 'input-field')
          // = text_field(:session, :uin, class: 'input-field', :pattern => "[0-9]{9}", :oninvalid => "this.setCustomValidity('Invalid UIN')", :oninput => "this.setCustomValidity('')")
      %tr
        %td
          = label :session, :password, 'Enter your password'
        %td
          // = text_field(:session, :password, class: 'input-field')
          = password_field(:session, :password, class: 'input-field')
          = link_to "(forgot password)", '/students/forgetPW'
      %tr
        %td
          = label :session, :user, 'Login as'
        %td 
          = radio_button(:session, :user, "admin")
          admin
          = radio_button(:session, :user, "student", :checked => true)
          student
    %br
    %br
    = submit_tag 'Login'
    
  =  form_tag('/students/signup', method: :get) do
    = submit_tag 'Sign Up'
    
  // =  form_tag('/students/forgetPW', method: :get) do
  //   = submit_tag 'Forget Password'
