!!!
%html
  %head
    %title Force request System!
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    /%h1.title= link_to '<button type="button" class="mainbutton">CSE Force Request System</button>'.html_safe, student_requests_homeRedirect_path
    %h1.title CSE Force Request System 
    = render 'layouts/header'
    
   
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
    = render 'layouts/footer'
